
    <div class="row justify-content-center  "style="min-height: 140px; max-height: 140px;" >
        <img src="{{foto}}" class="rounded-circle "style="min-height: 140px; max-height: 140px;" alt="Perfil">
    </div>
  <div class="row">
    <div class="col-sm">
        <div class="row py-sm-2 ">
                            <div class="col-4 text-right">Nombre:</div>
                            <div class="col-7">
                                <input type="text" name="Nombre" placeholder="Nombre" class="form-control"  readonly>
                            </div>
        </div>
        <div class="row py-sm-2 ">
                            <div class="col-4 text-right">Apellido paterno:</div>
                            <div class="col-7">
                                <input type="text" name="Nombre" placeholder="Nombre" class="form-control"  readonly>
                            </div>
        </div>
        <div class="row py-sm-2 ">
                            <div class="col-4 text-right">Apellido materno:</div>
                            <div class="col-7">
                                <input type="text" name="Nombre" placeholder="Nombre" class="form-control"  readonly>
                            </div>
        </div>
        <div class="row py-sm-2 ">
                            <div class="col-4 text-right">Correo electronico:</div>
                            <div class="col-7">
                                <input type="text" name="Nombre" placeholder="Nombre" class="form-control"  readonly>
                            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row py-sm-2 ">
                            <div class="col-4 text-right">Descripcion:</div>
                            <div class="col-7">
                            <div class="text-start">
                                <input type="text" name="Nombre" placeholder="Nombre" class="form-control text-start" style="min-height: 140px; max-height: 140px; vertical-align: top;" readonly>
                            </div>
                            </div>
        </div>
    </div>
    </div>
  




   